---
import '@fontsource/lato';
import latoFont from '@fontsource/lato/files/lato-latin-400-normal.woff2';
import LeftSidebar from '../components/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={latoFont}
      crossorigin="anonymous"
    />
  </head>
  <body
    class="bg-neutral-200 text-neutral-900 dark:bg-neutral-700 dark:text-neutral-100 flex flex-col md:flex-row md:justify-center"
  >
    <LeftSidebar />
    <main class="p-4">
      <h1 class="mb-8 text-3xl">{title}</h1>
      <slot />
    </main>
    <RightSidebar />
  </body>
</html>
